body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(28, 136, 66);
}

.container {
    width: 400px;
    background: rgb(82, 227, 198);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.todo-input {
    display: flex;
    gap: 10px;
}

.todo-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #065d2d;
    border-radius: 5px;
}

.todo-input button {
    background-color: #3a7e30;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.filter-btn {
    background-color: #3a7e30;
    color: rgb(255, 255, 255);
    border: none;
    width: 110px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #079e9c;
}

.filter-btn.active {
    background-color: #28a745;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.task-eddel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    gap: 5px;
}

.completed {
    text-decoration: line-through;
    color: rgb(4, 92, 36);
}

.completeTask {
    transform: scale(1.5);
}

.editTask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #3a7e30;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.editTask:hover {
    background-color: #079e9c;
    color: white;
}

.editTask i {
    font-size: 16px;
}

.editInput {
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.saveEdit {
    background-color: #f9f9f9;
    width: 30px;
    height: 30px;
}

#saveEdit {
    font-size: 17px;
  }

.deleteTask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #3a7e30;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.deleteTask:hover {
    background-color: #079e9c;
    color: white;
}

.deleteTask i {
    font-size: 16px;
}

.actions {
    margin-top: 15px;
}

.actions button {
    background: rgb(1, 104, 64);
    color: white;
    border: none;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #079e9c;
    color: white;
}
